PORT=example
RABBITMQ_URL=example
REDIS_URL=example
MONGODB_URI=example
MONGODB_DATABASE_NAME=example
RABBITMQ_PORT=example
RABBITMQ_MANAGEMENT_PORT=example
RABBITMQ_DEFAULT_USER=example
RABBITMQ_DEFAULT_PASS=example
RABBITMQ_DEFAULT_VHOST=example
REDIS_PORT=example
MONGODB_PORT=example
MONGO_INITDB_ROOT_USERNAME=example
MONGO_INITDB_ROOT_PASSWORD=example
MONGO_INITDB_DATABASE=example
JWT_KEY=example
