PORT=9000
RABBITMQ_URL=example
REDIS_URL=example
MONGODB_URI=example
MONGODB_DATABASE_NAME=example
RABBITMQ_PORT=example
RABBITMQ_MANAGEMENT_PORT=example
RABBITMQ_DEFAULT_USER=example
RABBITMQ_DEFAULT_PASS=example
RABBITMQ_DEFAULT_VHOST=example
REDIS_PORT=example
JWT_KEY=example
ML_API_URL=http://ml:9001/api/v1/generate-parser-rule
